<!DOCTYPE html>

		<html dir="ltr" lang="vi">
			<!--<![endif]--> 
			<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1" />
				<meta http-equiv="X-UA-Compatible" content="IE=edge" />
				<meta name="theme-color" content="#FFFFFF" />
				<title>Giới thiệu</title>
				<meta name="description" content="Hầu hết mỗi c&ocirc;ng ty đều c&oacute; b&agrave;i giới thiệu về doanh nghiệp m&igrave;nh, nhưng để c&oacute; được một b&agrave;i giới thiệu đầy đủ, hiệu quả để chinh phục được kh&aacute;ch h&agrave;ng cũng như đối t&aacute;c th&igrave; kh&ocirc;ng phải doanh nghiệp n&agrave;o cũng l&agrave;m được. Đặc biệt khi m&agrave; nền kinh tế vẫn c&ograve;n khủng hoảng với rất nhiều kh&oacute; khăn c&agrave;ng đẩy sự cạnh tranh l&ecirc;n cao, th&igrave; một b&agrave;i giới thiệu tốt sẽ l&agrave; một yếu tố&#8230;" />
				<link rel="dns-prefetch" href="//fonts.googleapis.com" />
				<!-- START STYLE --> 
				<link rel="stylesheet" type="text/css" href="css/stylesheet.min.css?v=1544774575" data-minify="1" />
				<script type="text/javascript" src="js/jquery-3.3.1.min.js?v=1544774575"></script> 
				<link href="css/owl.carousel.min.css" type="text/css" rel="stylesheet" media="screen" />
				<link href="https://freshfood.exdomain.net/image/catalog/logo/fav.png" rel="icon" />
				<script src="js/owl.carousel.min.js" type="text/javascript"></script> 
				<link rel="stylesheet" type="text/css" href="css_custom/stylesheet.css?v=1544774575" />
			</head>
			<body class="information-information-4">
				<header class="header">
					<div class="topbar-mobile hidden-lg hidden-md text-center text-md-left">
						<div class="container">
							<span class="language mobi_lang_curr"></span> 
							<span class="currency mobi_lang_curr">
								<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"> <strong>đ</strong> <span> - VND</span> <i class="fa fa-caret-down"></i> </a> 
								<ul class="dropdown-menu">
									<li> <a class="currency-select" href="javascript:void(0)" name="EUR"> € - Euro </a> </li>
									<li> <a class="currency-select" href="javascript:void(0)" name="GBP"> £ - Pound Sterling </a> </li>
									<li> <a class="currency-select" href="javascript:void(0)" name="USD"> $ - US Dollar </a> </li>
									<li> <a class="currency-select" href="javascript:void(0)" name="VND"> đ - VND </a> </li>
								</ul>
								<form action="https://freshfood.exdomain.net/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" class="form-currency"> <input type="hidden" name="code" value="" /> <input type="hidden" name="redirect" value="https://freshfood.exdomain.net/gioi-thieu" /> </form>
							</span>
						</div>
					</div>
					<div class="topbar hidden-sm hidden-xs">
						<div class="container">
							<div>
								<div class="row">
									<div class="col-sm-6 col-md-6 a-left">
										<ul class="list-inline f-left info-header">
											<li> <i class="fa fa-mobile"></i> <b>Điện thoại:</b> <span> <a href="tell:0123456789"> 0123456789</a> </span> </li>
											<li class="margin-left-20"> <i class="fa fa-envelope"></i> <b>Email:</b> <span> <a href="mailto:contact@yourdomain.com">contact@yourdomain.com</a> </span> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-md-6">
										<ul class="list-inline f-right">
											<li class="language desk_lang_curr"></li>
											<li class="currency desk_lang_curr">
												<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"> <strong>đ</strong> <span> - VND</span> <i class="fa fa-caret-down"></i> </a> 
												<ul class="dropdown-menu">
													<li> <a class="currency-select" href="javascript:void(0)" name="EUR"> € - Euro </a> </li>
													<li> <a class="currency-select" href="javascript:void(0)" name="GBP"> £ - Pound Sterling </a> </li>
													<li> <a class="currency-select" href="javascript:void(0)" name="USD"> $ - US Dollar </a> </li>
													<li> <a class="currency-select" href="javascript:void(0)" name="VND"> đ - VND </a> </li>
												</ul>
												<form action="https://freshfood.exdomain.net/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data" class="form-currency"> <input type="hidden" name="code" value="" /> <input type="hidden" name="redirect" value="https://freshfood.exdomain.net/gioi-thieu" /> </form>
											</li>
											<li> <a href="https://freshfood.exdomain.net/index.php?route=account/login"><i class="fa fa-user"></i> Đăng nhập</a> </li>
											<li> <span> -</span> </li>
											<li> <a href="https://freshfood.exdomain.net/index.php?route=account/register">Đăng ký</a> </li>
											<li class="li-search hidden">
												<a href="javascript:void(0)"><i class="fa fa-search"></i></a> 
												<div class="dropdown topbar-dropdown hidden-md hidden-sm hidden-xs">
													<div class="content a-center">
														<div class="header_search search_form">
															<div class="form input-group search-bar search_form" > <input type="search" name="search" value="" placeholder="Tìm kiếm" class="input-group-field st-default-search-input search-text" autocomplete="off"> <span class="input-group-btn"> <button class="btn icon-fallback-text"> <i class="fa fa-search"></i> </button> </span> </div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="header-content clearfix a-center">
							<div class="row">
								<div class="col-xs-12 col-md-3 text-lg-left">
									<div class="logo inline-block" id="logo"> <a href="https://freshfood.exdomain.net/" class="logo-wrapper"> <img src="https://freshfood.exdomain.net/image/catalog/logo/logo_big-1.png" alt="Fresh Food" /> </a> </div>
								</div>
								<div class="col-xs-12 col-md-8 col-lg-7 hidden-xs header_services"></div>
								<div class="col-xs-12 col-md-1 col-lg-2 hidden-sm hidden-xs">
									<div class="top-cart-contain f-right ">
										<div id="cart" class="mini-cart text-xs-center">
											<div class="heading-cart">
												<a href="https://freshfood.exdomain.net/index.php?route=checkout/cart">
													<div class="icon f-left relative"> <i class="fa fa-shopping-bag"></i> <span class="cartCount count_item_pr hidden-lg" id="cart-total">2</span> </div>
													<div class="right-content hidden-md"> <span class="label">Giỏ hàng</span> <span class="cartCount2">(2)</span> </div>
												</a>
											</div>
											<div class="top-cart-content">
												<ul id="cart-sidebar" class="mini-products-list count_li">
													<li class="list-item-cart">
														<ul>
															<li class="item productid-17898181">
																<div class="border_list">
																	<a class="product-image" href="https://freshfood.exdomain.net/chanh-vang" title="Chanh vàng"> <img alt="Chanh vàng" src="https://freshfood.exdomain.net/image/cache/catalog/san-pham/product-4-200x200.jpg" width="100"></a> 
																	<div class="detail-item">
																		<div class="product-details">
																			<p class="product-name"> <a href="https://freshfood.exdomain.net/chanh-vang" title="Chanh vàng">Chanh vàng</a> </p>
																		</div>
																		<div class="product-details-bottom">
																			<span class="price">98,000đ</span> <a href="javascript:void(0);" onclick="cart.remove('172');" title="Xóa" class="remove-item-cart fa fa-remove">&nbsp; </a> 
																			<div class="quantity-select qty_drop_cart"> <span class="input-text number-sidebar">X 1</span> </div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="item productid-17898181">
																<div class="border_list">
																	<a class="product-image" href="https://freshfood.exdomain.net/chuoi" title="Chuối"> <img alt="Chuối" src="https://freshfood.exdomain.net/image/cache/catalog/san-pham/Chuoi-200x200.jpg" width="100"></a> 
																	<div class="detail-item">
																		<div class="product-details">
																			<p class="product-name"> <a href="https://freshfood.exdomain.net/chuoi" title="Chuối">Chuối</a> </p>
																		</div>
																		<div class="product-details-bottom">
																			<span class="price">60,000đ</span> <a href="javascript:void(0);" onclick="cart.remove('171');" title="Xóa" class="remove-item-cart fa fa-remove">&nbsp; </a> 
																			<div class="quantity-select qty_drop_cart"> <span class="input-text number-sidebar">X 1</span> </div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
													<li class="pd">
														<div class="top-subtotal">
															<div class="clearfix"> Thành tiền: <span class="price">158,000đ</span> </div>
															<div class="clearfix"> Tổng số: <span class="price">158,000đ</span> </div>
														</div>
													</li>
													<li class="pd right_ct"> <a href="https://freshfood.exdomain.net/index.php?route=checkout/cart" class="btn btn-primary"> <span>Giỏ hàng</span> </a> <a href="https://freshfood.exdomain.net/index.php?route=checkout/state" class="btn btn-primary"> <span>Thanh toán</span> </a> </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="menu-bar hidden-md hidden-lg"> <img src="/catalog/view/theme/freshfood/image/menu-bar.png" alt="menu bar" /> </div>
						<div class="icon-cart-mobile hidden-md hidden-lg f-left absolute" onclick="window.location.href='https://freshfood.exdomain.net/index.php?route=checkout/cart'">
							<div class="icon relative"> <i class="fa fa-shopping-bag"></i> <span class="cartCount count_item_pr">0</span> </div>
						</div>
					</div>
					<nav>
						<div class="container">
							<div class="hidden-sm hidden-xs">
								<ul class="nav nav-left">
									<li class="nav-item nav-item-lv1"> <a class="nav-link" href="https://freshfood.exdomain.net/">Trang chủ</a> </li>
									<li class="nav-item nav-item-lv1"> <a class="nav-link" href="https://freshfood.exdomain.net/gioi-thieu">Giới thiệu</a> </li>
									<li class="nav-item nav-item-lv1"> <a class="nav-link" href="https://freshfood.exdomain.net/san-pham">Sản phẩm</a> </li>
									<li class="nav-item nav-item-lv1"> <a class="nav-link" href="https://freshfood.exdomain.net/tin-tuc">Tin tức</a> </li>
									<li class="nav-item nav-item-lv1"> <a class="nav-link" href="https://freshfood.exdomain.net/lien-he">Liên hệ</a> </li>
								</ul>
								<div class="menu-search f-right bbbbb">
									<div class="header_search search_form">
										<div class="form input-group search-bar search_form" > <input type="search" name="search" value="" placeholder="Tìm kiếm" class="input-group-field st-default-search-input search-text" autocomplete="off"> <span class="input-group-btn"> <button class="btn icon-fallback-text"> <i class="fa fa-search"></i> </button> </span> </div>
									</div>
								</div>
							</div>
							<div class="hidden-lg hidden-md menu-offcanvas">
								<div class="head-menu clearfix">
									<ul class="list-inline">
										<li> <a href="https://freshfood.exdomain.net/index.php?route=account/login"><i class="fa fa-user"></i> Đăng nhập</a> </li>
										<li> <span> -</span> </li>
										<li> <a href="https://freshfood.exdomain.net/index.php?route=account/register">Đăng ký</a> </li>
										<li class="li-search">
											<div class="header_search search_form">
												<div class="form input-group search-bar search_form" > <input type="search" name="search" value="" placeholder="Tìm kiếm" class="input-group-field st-default-search-input search-text" autocomplete="off"> <span class="input-group-btn"> <button class="btn icon-fallback-text"> <i class="fa fa-search"></i> </button> </span> </div>
											</div>
										</li>
									</ul>
									<div class="menuclose"><i class="fa fa-close"></i></div>
								</div>
								<ul id="nav-mobile" class="nav hidden-md hidden-lg">
									<li class="nav-item"> <a class="nav-link" href="https://freshfood.exdomain.net/">Trang chủ</a> </li>
									<li class="nav-item"> <a class="nav-link" href="https://freshfood.exdomain.net/gioi-thieu">Giới thiệu</a> </li>
									<li class="nav-item"> <a class="nav-link" href="https://freshfood.exdomain.net/san-pham">Sản phẩm</a> </li>
									<li class="nav-item"> <a class="nav-link" href="https://freshfood.exdomain.net/tin-tuc">Tin tức</a> </li>
									<li class="nav-item"> <a class="nav-link" href="https://freshfood.exdomain.net/lien-he">Liên hệ</a> </li>
								</ul>
							</div>
						</div>
					</nav>
				</header>
				<section class="bread_crumb py-4">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
										<a itemprop="item" href="https://freshfood.exdomain.net/"> <span itemprop="name"><i class="fa fa-home"></i></span> </a> <span><i class="fa fa-angle-right"></i></span> 
										<meta itemprop="position" content="1" />
									</li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
										<a itemprop="item" href="https://freshfood.exdomain.net/gioi-thieu"> <strong itemprop="name">Giới thiệu</strong> </a> 
										<meta itemprop="position" content="2" />
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section class="page">
					<div class="policy d-flex justify-content-around " id="header_services-357656934" style="background-image: none;">
						<div class="item-policy d-flex align-items-center" style="width:">
							<a href="javascript:void(0)"> <img src="https://freshfood.exdomain.net/image/cache/catalog/services/policy1-0x0.png" alt="Miễn phí vận chuyển" class="fa" /> </a> 
							<div class="info a-left">
								<a href="javascript:void(0)"> Miễn phí vận chuyển</a> 
								<p>
								<p>B&aacute;n k&iacute;nh 100 km</p>
								</p> 
							</div>
						</div>
						<div class="item-policy d-flex align-items-center" style="width:">
							<a href="javascript:void(0)"> <img src="https://freshfood.exdomain.net/image/cache/catalog/services/policy2-0x0.png" alt=" Hỗ trợ 24/7" class="fa" /> </a> 
							<div class="info a-left">
								<a href="javascript:void(0)"> Hỗ trợ 24/7</a> 
								<p>
								<p>Hotline:&nbsp;<a href="callto:19001009">0123456789</a></p>
								</p> 
							</div>
						</div>
						<div class="item-policy d-flex align-items-center" style="width:">
							<a href="javascript:void(0)"> <img src="https://freshfood.exdomain.net/image/cache/catalog/services/policy3-0x0.png" alt="Giờ làm việc" class="fa" /> </a> 
							<div class="info a-left">
								<a href="javascript:void(0)"> Giờ làm việc</a> 
								<p>
								<p>T2 - T7 Giờ h&agrave;nh ch&iacute;nh</p>
								</p> 
							</div>
						</div>
					</div>
					<script type="text/javascript"> $('.header .header-content .header_services').append($('#header_services-357656934')); </script> 
					<div class="container">
						<div class="row">
							<div class="clearfix"></div>
							<div id="content" class="col-sm-12 col-xs-12 col-md-12">
								<div class="page-title category-title">
									<h1 class="title-head"> <a href="javascript:void(0)">Giới thiệu</a> </h1>
								</div>
								<div class="content-page rte">
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Hầu hết mỗi c&ocirc;ng ty đều c&oacute; b&agrave;i giới thiệu về doanh nghiệp m&igrave;nh, nhưng để c&oacute; được một b&agrave;i giới thiệu đầy đủ, hiệu quả để chinh phục được kh&aacute;ch h&agrave;ng cũng như đối t&aacute;c th&igrave; kh&ocirc;ng phải doanh nghiệp n&agrave;o cũng l&agrave;m được.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Đặc biệt khi m&agrave; nền kinh tế vẫn c&ograve;n khủng hoảng với rất nhiều kh&oacute; khăn c&agrave;ng đẩy sự cạnh tranh l&ecirc;n cao, th&igrave; một b&agrave;i giới thiệu tốt sẽ l&agrave; một yếu tố kh&ocirc;ng nhỏ gi&uacute;p Doanh nghiệp bạn chứng tỏ được khả năng cũng như thế mạnh của m&igrave;nh. Ngo&agrave;i ra với một b&agrave;i giới thiệu được tr&igrave;nh b&agrave;y một c&aacute;ch chuy&ecirc;n nghiệp, sẽ đem lại sự thiện cảm ban đầu cho người xem, đ&oacute; l&agrave; một lợi thế m&agrave; c&aacute;c doanh nghiệp n&ecirc;n nắm bắt.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Nếu như về phần giới thiệu sản phẩm thường c&oacute; rất nhiều b&agrave;i kh&aacute;c nhau, nhưng với b&agrave;i giới thiệu doanh nghiệp lại chỉ c&oacute; một. Ch&iacute;nh v&igrave; vậy cần một sự đầu tư kỹ lưỡng cả về nội dung lẫn h&igrave;nh thức, v&igrave; n&oacute; phần n&agrave;o thể hiện bộ mặt của to&agrave;n doanh nghiệp.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Vậy l&agrave;m sao để c&oacute; b&agrave;i giới thiệu doanh nghiệp ho&agrave;n thiện v&agrave; thu h&uacute;t người xem tối ưu nhất ?</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Trước ti&ecirc;n, b&agrave;i giới thiệu cần c&oacute; phần t&oacute;m lược đầy đủ mọi th&ocirc;ng tin về Doanh nghiệp gồm : lịch sử h&igrave;nh th&agrave;nh v&agrave; ph&aacute;t triển. T&ecirc;n đầy đủ của doanh nghiệp.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Sau đ&oacute; giới thiệu tổng qu&aacute;t về ng&agrave;nh nghề hoạt động, mạng lưới hoạt động. V&agrave; điều cuối c&ugrave;ng l&agrave; những mục ti&ecirc;u hướng đến c&ugrave;ng những th&agrave;nh quả đ&atilde; đạt được&hellip;.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">B&ecirc;n cạnh bố cục th&ocirc;ng thường th&igrave; b&agrave;i giới thiệu cần được viết một c&aacute;ch ngắn gọn v&agrave; s&uacute;c t&iacute;ch nhất nhằm đưa đến cho người đọc nhanh ch&oacute;ng nắm rỏ về c&ocirc;ng ty, doanh nghiệp. Do đ&oacute; việc lựa chọn từ ngữ cũng hết sức quan trọng. C&aacute;c từ ngữ phải diễn đạt tốt v&agrave; logic cũng như truyền tải được những mong muốn của ban điều h&agrave;nh doanh nghiệp đưa ra.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Song song với những b&agrave;i giơi thiệu được đăng tr&ecirc;n những trang web ch&iacute;nh của doanh nghiệp, th&igrave; c&aacute;c b&agrave;i viết giới thiệu c&ograve;n hết sức cần thiết v&agrave; hữu hiệu hơn khi được đăng l&ecirc;n c&aacute;c website uy t&iacute;n c&oacute; sức tuy&ecirc;n truyền v&agrave; quảng b&aacute; rộng. Điều n&agrave;y gi&uacute;p h&igrave;nh ảnh thương hiệu c&ocirc;ng ty bạn đến gần với c&aacute;c đối t&aacute;c, kh&aacute;ch h&agrave;ng.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Cũng ch&iacute;nh v&igrave; được nhiều người biết đến, do đ&oacute; những b&agrave;i viết như thế cần nhiều sự chăm ch&uacute;t hơn. Ngo&agrave;i mục đ&iacute;ch giới thiệu đến mọi người th&igrave; b&agrave;i viết n&agrave;y cần hướng người đọc đến h&agrave;nh vi mua h&agrave;ng hoặc &iacute;t nhất l&agrave; gh&eacute; thăm website ch&iacute;nh.</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Đ&oacute; ch&iacute;nh l&agrave; vấn đề cốt l&otilde;i m&agrave; một b&agrave;i viết giới thiệu cần l&agrave;m được, v&agrave; để l&agrave;m được điều đ&oacute; th&igrave; người viết phải l&agrave; một người giỏi về khả năng diễn đạt, chuy&ecirc;n s&acirc;u về lĩnh vực viết lời giới thiệu, quảng c&aacute;o</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Doanh nghiệp bạn đ&atilde; c&oacute; những b&agrave;i giới thiệu như thế chưa ?</p>
									<p style="margin-bottom: 10px; padding: 0px; color: #525252; font-family: Arial, Helvetica, sans-serif;">Đừng bỏ qua một cơ hội n&agrave;o v&igrave; kh&aacute;ch h&agrave;ng lu&ocirc;n tin tưởng, lựa chọn những doanh nghiệp c&oacute; sự đầu tư kỹ lưỡng, chuy&ecirc;n nghiệp về h&igrave;nh ảnh thương hiệu cũng như c&oacute; sự quảng b&aacute; rộng r&atilde;i. Ngo&agrave;i ra, quảng b&aacute; tr&ecirc;n website ch&iacute;nh l&agrave; sự quảng b&aacute; nhanh ch&oacute;ng v&agrave; mang lại hiệu quả l&acirc;u d&agrave;i.</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<section class="awe-section-12 carousel_partner module_carousel " id="carousel-0">
								<div class="section section-brand mb-5">
									<div class="container">
										<h2 class="hidden">Partner</h2>
										<div class="owl-carousel owl-theme" data-nav="true" data-lg-items="6" data-md-items="6" data-sm-items="2" data-xs-items="2">
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand1-165x80.png" alt="brand 1" /> </a> </div>
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand2-165x80.png" alt="brand 2" /> </a> </div>
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand3-165x80.png" alt="brand 3" /> </a> </div>
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand4-165x80.png" alt="brand 4" /> </a> </div>
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand5-165x80.png" alt="brand 5" /> </a> </div>
											<div class="brand-item"> <a href="javascript:void(0)" class="img25"> <img src="https://freshfood.exdomain.net/image/cache/catalog/hang-san-xuat/brand6-165x80.png" alt="brand 6" /> </a> </div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
				<footer class="footer">
					<div class="content">
						<div class="site-footer">
							<div class="footer-inner padding-top-35 pb-lg-5">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-lg-5">
											<div class="footer-widget">
												<h3 class="hastog"> <span>Liên hệ</span> </h3>
												<ul class="list-menu list-showroom">
													<li class="clearfix">
														<i class="block_icon fa fa-map-marker"></i> 
														<p>A12, Đinh Tiên Hoàng, Q. Hoàn Kiếm, Hà Nội</p>
													</li>
													<li class="clearfix"> <i class="block_icon fa fa-phone"></i> <a href="tel:0123456789">0123456789</a> </li>
													<li class="clearfix"><i class="block_icon fa fa-envelope"></i> <a href="mailto:contact@yourdomain.com">contact@yourdomain.com</a> </li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-lg-2">
											<div class="footer-widget">
												<h3 class="hastog"> <span>Thông tin</span> </h3>
												<ul class="list-menu list-blogs">
													<li> <a href="https://freshfood.exdomain.net/gioi-thieu">Giới thiệu</a> </li>
													<li> <a href="https://freshfood.exdomain.net/thong-tin-van-chuyen">Thông tin vận chuyển</a> </li>
													<li> <a href="https://freshfood.exdomain.net/quy-dinh-va-dieu-khoan">Quy định và Điều khoản</a> </li>
													<li> <a href="https://freshfood.exdomain.net/chinh-sach-bao-mat">Chính sách bảo mật</a> </li>
												</ul>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-lg-2">
											<div class="footer-widget"> </div>
										</div>
										<div class="col-xs-12 col-sm-6 col-lg-3">
											<div class="footer-widget">
												<h3 class="margin-bottom-20 hastog"> <span>Facebook</span> </h3>
												<div class="list-menu">
													<div class="footerText">
														<div class="fb-page" data-href="https://www.facebook.com/FacebookVietNam" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="copyright clearfix">
								<div class="container">
									<div class="inner clearfix">
										<div class="row">
											<div class="col-md-6 text-center text-lg-left"> <span>&copy; Copyright 2018 Fresh Food. </span> </div>
											<div class="col-md-6 text-center text-lg-right hidden-xs">
												<ul class="list-menu-footer"></ul>
											</div>
										</div>
									</div>
									<div class="back-to-top"> <i class="fa fa-angle-up"></i> </div>
									<a href="tel:0123456789" class="suntory-alo-phone bottom-left suntory-alo-green" id="suntory-alo-phoneIcon">
										<div class="suntory-alo-ph-img-circle"><i class="fa fa-phone"></i></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=vietnamese" rel="stylesheet">
				<script type="text/javascript" src="js/option-selectors.js"></script> 
				<script type="text/javascript" src="js/api.jquery.js"></script> 
				<script type="text/javascript" src="js/appear.js"></script> 
				<script type="text/javascript" src="js/owl.carousel.min.js"></script> 
				<script type="text/javascript" src="js/bootstrap.min.js"></script> 
				<script type="text/javascript" src='js/dl_function.js'></script> 
				<!--<script type="text/javascript" src='js/dl_api.js'></script>--> 
				<script type="text/javascript" src='js/rx-all-min.js'></script> 
				<script type="text/javascript" src='js/dl_main.js'></script> <!--<script type="text/javascript" src="js/jquery-ui.min.js"></script>--> <!--<script type="text/javascript" src="js/dl_col.js"></script>--> 
				<script type="text/javascript" src="js/detail.js"></script> 
				<script type="text/javascript" src="js/jquery.elevatezoom.min.js"></script> 
				<script type="text/javascript" src="js/jquery.prettyphoto.min.js"></script> 
				<script type="text/javascript" src="js/jquery.prettyphoto.in1t.min.js"></script> 
				<script type="text/javascript" src="js/common.js"></script> <script type="text/javascript" src="js/custom.js"></script> 
				<link rel="stylesheet" href="css/social_login_button.css"/>
		
				<!-- Show Popup Cart --> <button id="btn_show_cart" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-popupcart-modal-lg" style="display: none;"></button> 
				<div class="modal fade bs-popupcart-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times; </span> </button> 
								<h4 class="modal-title" id="myModalLabel"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng </h4>
							</div>
							<div class="modal-body" id="load_info_cart"></div>
							<div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục mua hàng</button> <a href="index.php?route=checkout/checkout" class="btn btn-primary">Tiến hành thanh toán</a> </div>
						</div>
					</div>
				</div>
				<script type="text/javascript"> /* Sau khi tat khung popup cart, cap nhat lai gio hang tren header */ $('.bs-popupcart-modal-lg').on('hidden.bs.modal', function (e) { $.ajax({ url : 'index.php?route=checkout/cart/getTotalProductInCart', type : 'post', dataType : 'json', beforeSend: function () { }, complete : function () { }, success : function (json) { var out = json['total'].substr(0, json['total'].indexOf(' ')); $('#cart-total').html(out); $('#cart > ul').load('index.php?route=common/cart/info ul li'); } }); }); </script> 
			</body>
		</html>