   @media (min-width: 1200px)
   {
.aside-vetical-menu .aside-content .nav-item>.dropdown-menu {
    position: absolute;
    left: calc(100% + 15px);
    top: 0;
    padding: 10px 15px;
    border-radius: 0;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.4);
}
} 